.product-item img {
    max-width: 100%;
    max-height: 250px;
}
.details{
    width: 100%;
}

.price {
    width: 15%;
    float: right;
}

.skills {
    width: 74%;
}

.skills span {
    font-weight: 600;
}

.details div {
    display: inline-block;
    padding: 5px;
}

.cart span img {
    margin-bottom:8px;
}

.addToFavorites .btn {
    border: 1px solid black;
    height: 46px;
}

.addToFavorites span img {
    content: url("../assets/icons/red_hollow.png");
}

.addToFavorites span img.add-to-favorites-active {
    content: url("../assets/icons/red_filled.png");
}

@media screen and (max-width: 1200px) {
    .col-4 {
     width: 50%;
    }
}

@media screen and (max-width: 720px) {
    .col-4 {
        width: 100%;
       }
}

